#RDFExtensionMenu {
	
}
#RDFSearchMenuItem {
	list-style-image: url("chrome://constructfinder/skin/images/gnome/16/system-search.png");
}
#RDFIdentMenuItem {
	list-style-image: url("chrome://constructfinder/skin/images/gnome/16/avatar-defaultc2g.png");
}
#RDFNavigationMenuItem {
	list-style-image: url("chrome://constructfinder/skin/images/gnome/16/mail-send.png");
}
